body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
}
h1 {
  font-size: 72px;
  margin-top: 100px;
  text-align: center;
}
iframe {
  padding: 7px;
}
#press-start {
  font-size: 36px;
  margin-top: 50px;
  animation: flash 1s infinite;
  text-align: center;
}
@keyframes flash {
  50% {
    opacity: 0;
  }
}
canvas {
  position: absolute;
  z-index: -1;
}
.start-button, .option {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  margin-top: 20px;
  align-items: center;
}
.start-button:before, .option:before {
  content: "";
  display: block;
  position: relative;
  left: -30px;
  /* width: 20px;
  height: 20px; */
  margin-top: -10px;
  margin-bottom: 10px;
  border-right: 25px solid transparent;
  border-bottom: 20px solid transparent;
  border-top: 25px solid white;
  transform: rotate(135deg);
  opacity: 0;
}
.start-button:hover:before, .option:hover:before {
  left: -30px;
  opacity: 1;
}
.option.selected:before {
  opacity: 1;
  left: -30px;
}
.option.hovered:before {
  opacity: 0;
}
.option.selected {
  animation: flash 1s infinite;
}
#back-button {
  margin: auto;
  position: relative;
  cursor: pointer;
  text-align: center;
}
#options-parent {
  display: flex;
  justify-content: center;
  text-align: center;
}
.box {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 5px solid white;
  position: relative;
  margin-top: 40px;
}
.fa-brands, .fa-solid {
  color: white; 
  font-size: 40px; 
  text-decoration: none;
}
/* Grid layout */
#programming {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
  grid-gap: 50px;
  text-align: center;
}
#gameDev {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px;
  grid-template-rows: auto;
  grid-gap: 50px;
  text-align: center;
}

/* Panel magic */
#gBox-1 .gravThumbnail,
#progBox-1 .portThumbnail,
#progBox-2 .playlistThumbnail,
#progBox-3 .cohThumbnail {
  position: relative;
  z-index: 1;
}
#gBox-1 #gBowlText,
#progBox-1 #portText,
#progBox-2 #playlistText,
#progBox-3 #cohText {
  visibility: hidden;
  position: absolute;
  top: 10%;
  z-index: 2;
  line-height: 130%;
}
#gBox-1:hover .gravThumbnail,
#progBox-1:hover .portThumbnail,
#progBox-2:hover .playlistThumbnail,
#progBox-3:hover .cohThumbnail {
  opacity: 0.3;
}
/* cleaner way to do this? */
#gBox-1:hover #gBowlText,
#gBox-1:hover .fa-unity,
#gBox-1:hover .cSharpLogo,
#progBox-1:hover #portText,
#progBox-2:hover #playlistText,
#progBox-3:hover #cohText,
#progBox-1:hover .fa-html5,
#progBox-1:hover .fa-css3-alt,
#progBox-1:hover .fa-js,
#progBox-2:hover .fa-python,
#progBox-2:hover .fa-html5,
#progBox-2:hover .fa-css3-alt,
#progBox-2:hover .fa-js,
#progBox-3:hover .fa-python {
  visibility: visible;
}
/* Logo positioning */
#gBox-1 .cSharpLogo {
  position: absolute;
  z-index: 2;
  left: 60%;
  top: 80%;
  visibility: hidden;
}
#gBox-1 .fa-unity {
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 80%;
  visibility: hidden;
}
#progBox-1 .fa-html5 {
  position: absolute;
  z-index: 2;
  left: 25%;
  top: 80%;
  visibility: hidden;
}
#progBox-1 .fa-css3-alt {
  position: absolute;
  z-index: 2;
  left: 45%;
  top: 80%;
  visibility: hidden;
}
#progBox-1 .fa-js {
  position: absolute;
  z-index: 2;
  left: 65%;
  top: 80%;
  visibility: hidden;
}
#progBox-2 .fa-python {
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 80%;
  visibility: hidden;
}
#progBox-2 .fa-html5 {
  position: absolute;
  z-index: 2;
  left: 35%;
  top: 80%;
  visibility: hidden;
}
#progBox-2 .fa-css3-alt {
  position: absolute;
  z-index: 2;
  left: 55%;
  top: 80%;
  visibility: hidden;
}#progBox-2 .fa-js {
  position: absolute;
  z-index: 2;
  left: 75%;
  top: 80%;
  visibility: hidden;
}
#progBox-3 .fa-python {
  position: absolute;
  z-index: 2;
  left: 45%;
  top: 80%;
  visibility: hidden;
}